flows/TroubleShoot-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Customer issue</description>
    <interviewLabel>TroubleShoot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TroubleShoot</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>89</locationX>
        <locationY>365</locationY>
        <connector>
            <targetReference>Wrap_up_issue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Default_display_fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>What_is_the_customers_issue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getCustomerIDs</name>
        <label>getCustomerIDs</label>
        <locationX>84</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Issue_Description</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Default_display_fault</targetReference>
        </faultConnector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Customer_Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Customer_info</name>
        <label>Customer info</label>
        <locationX>84</locationX>
        <locationY>32</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getCustomerIDs</targetReference>
        </connector>
        <fields>
            <name>Customer_Email</name>
            <dataType>String</dataType>
            <fieldText>Customer Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Default_display_fault</name>
        <label>Default display fault</label>
        <locationX>338</locationX>
        <locationY>245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_fault_message</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Issue_Description</name>
        <label>Issue Description</label>
        <locationX>88</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
        <fields>
            <name>What_is_the_customers_issue</name>
            <fieldText>What is the customer&apos;s issue</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Wrap_Up_Call</name>
        <label>Wrap Up Call</label>
        <locationX>596</locationX>
        <locationY>467</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Wrap_Up_call_Display_text</name>
            <fieldText>Thank you for your time today</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Wrap_up_issue</name>
        <label>Wrap up issue</label>
        <locationX>92</locationX>
        <locationY>473</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cross_Sell</targetReference>
        </connector>
        <fields>
            <name>Wrap_Up_Issue_display_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>A case was ben created for you</helpText>
    </screens>
    <startElementReference>Customer_info</startElementReference>
    <subflows>
        <name>Cross_Sell</name>
        <label>Cross Sell</label>
        <locationX>362</locationX>
        <locationY>471</locationY>
        <connector>
            <targetReference>Wrap_Up_Call</targetReference>
        </connector>
        <flowName>Cross_Sell</flowName>
        <inputAssignments>
            <name>varAccountIdCrossSell</name>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
